.milkbbs-posting-form td:nth-child(1) {
    width: 1px;
}

.milkbbs-posting-form td:nth-child(2) input,
.milkbbs-posting-form td:nth-child(2) textarea {
    width: 100%;
}

.milkbbs-posting-form td:nth-child(2) textarea {
    resize: none;
}

.milkbbs-thread-container * {
    box-sizing: border-box;
}

.milkbbs-entry div {
    display: flex;
    justify-content: space-between;
}

.milkbbs-reply div {
    justify-content: right;
}




/* -- THEME CSS: BREAK INTO SEPARATE FILE WHEN DONE!!!! -- */
.milkbbs-posting-form *,
.milkbbs-thread-container *,
.milkbbs-error-container * {
    font-family: Tahoma;
    font-size: 11px;
}

.milkbbs-thread-container {
    border: 1px solid #a0a0a0;
    border-bottom: none;
    margin-bottom: 40px;
}

.milkbbs-entry {
    padding: 4px;
    border-bottom: 1px solid #a0a0a0;
}

.milkbbs-post-name {
    font-weight: bold;
}

.milkbbs-post-comment {
    background: #e0e0e0;
    padding: 4px;
    margin: 4px 0;
}

.milkbbs-error-container {
    border: 1px solid #a0a0a0;
    padding: 4px;
}

.milkbbs-standalone-error-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.milkbbs-error-container div {
    display: flex;
    justify-content: center;
}



/* -- USERSTYLE CSS: REMOVE ME WHEN DONE!!!! -- */
.milkbbs-posting-form,
.milkbbs-thread-container,
.milkbbs-error-container {
    width: 480px;
}
