<div class="milkbbs-entry">
    <div>
        <div class="milkbbs-entry-author"><a href="mailto:{EMAIL}">{AUTHOR}</a>&nbsp;<a class="milkbbs-entry-url" href="{URL}">[URL]</a></div>
        <div class="milkbbs-entry-number">No. <span class="milkbbs-entry-id">{ENTRY_ID}</span></div>
    </div>
    <div>
        <div class="milkbbs-entry-subject">{SUBJECT}</div>
    </div>
    <div>
        <div class="milkbbs-entry-comment">{COMMENT}</div>
    </div>
    <div>
        <div class="milkbbs-entry-date">{DATE}</div>
        <div class="milkbbs-entry-delete">{DELETE}</div>
    </div>
</div>
<hr class="milkbbs-hr">