<form class="milkbbs-entry-management" method="post" action="{PROCESSING_SCRIPT}">
    <div>
        Entry Management
        <input name="callingScript" type="hidden" value="{ORIGIN_FILE}">
        <input id="milkbbs-entry-management-entry-id" name="entryId" type="hidden">
    </div>
    <div>
        <div>
            <label for="milkbbs-entry-management-entry-id-visual">Entry No.</label> <input id="milkbbs-entry-management-entry-id-visual" type="text" disabled>
        </div>
        <div>
            <label for="milkbbs-entry-management-password">Password</label>
            <input name="password" id="milkbbs-entry-management-password" type="text">
            <input id="milkbbs-entry-management-delete-btn" name="deleteEntry" type="submit" value="Delete">
        </div>
    </div>
</form>
<hr class="milkbbs-hr">