<form class="milkgb-entry-management" method="post" action="{PROCESSING_SCRIPT}">
    <div>
        Entry Management
        <input type="hidden" name="callingScript" value="{ORIGIN_FILE}">
        <input type="hidden" id="milkgb-entry-management-entry-id" name="entryId">
    </div>
    <div>
        <div>
            <label for="milkgb-entry-management-entry-id-visual">Entry No.</label> <input type="text" id="milkgb-entry-management-entry-id-visual" disabled>
        </div>
        <div>
            <label for="milkgb-entry-management-password">Password</label>
            <input type="text" name="password" id="milkgb-entry-management-password">
            <input type="submit" id="milkgb-entry-management-delete-btn" name="deleteEntry">
        </div>
    </div>
</form>
<hr class="milkgb-hr">