<div class="milkbbs-entry" id="{POST_ID}">
    <div>
        <div class="milkbbs-post-name"><a href="mailto:{EMAIL}">{AUTHOR}</a>&nbsp;<a class="milkbbs-post-url" href="{URL}">[URL]</a></div>
        <div class="milkbbs-post-number">No. {POST_ID}&nbsp;<a href="{ANCHOR}">#</a></div>
    </div>
    <div>
        <div class="milkbbs-post-subject">{SUBJECT}</div>
    </div>
    <div>
        <div class="milkbbs-post-comment">{COMMENT}</div>
    </div>
    <div>
        <div class="milkbbs-post-date">{DATE}</div>
        <div>
            <span class="milkbbs-post-report">{REPORT}</span>&nbsp;
            <span class="milkbbs-post-delete">{DELETE}</span>
        </div>
    </div>
</div>