<form enctype="multipart/form-data" method="post" action="{ACTION}">
    <table class="milkgb-posting-form">
        <tr><td>{ENTRY_PREVIEW}</td></tr>
        {VERIFICATION}
        <tr>
            <td colspan="2">
                <input type="hidden" name="author" value="{INPUT_AUTHOR}">
                <input type="hidden" name="email" value="{INPUT_EMAIL}">
                <input type="hidden" name="url" value="{INPUT_URL}">
                <input type="hidden" name="subject" value="{INPUT_SUBJECT}">
                <input type="hidden" name="comment" value="{INPUT_COMMENT}">
                <input type="hidden" name="password" value="{INPUT_PASSWORD}">
                <input type="hidden" name="file" value="{INPUT_FILE}">
                <input type="hidden" name="callingScript" value="{ORIGIN_FILE}">
                <input type="submit" name="createNewEntry" value="Post New Entry">
            </td>
        </tr>
    </table>
</form>
<hr class="milkgb-hr">