.milkbbs * {
    box-sizing: border-box;
}

.milkbbs-posting-form td:nth-child(1) {
    width: 1px;
}

.milkbbs-posting-form td:nth-child(2) input,
.milkbbs-posting-form td:nth-child(2) textarea {
    width: 100%;
}

.milkbbs-posting-form td:nth-child(2) textarea {
    resize: none;
}

.milkbbs-entry > div {
    display: flex;
    justify-content: space-between;
}

.milkbbs-entry-subject,
.milkbbs-entry-comment {
    width: 100%;
}

.milkbbs-entry-management {
    display: flex;
    flex-direction: column;
}

.milkbbs-entry-management > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.milkbbs-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* -- THEME CSS: BREAK INTO SEPARATE FILE WHEN DONE!!!! -- */
.milkbbs * {
    font-family: Tahoma;
    font-size: 11px;
}

.milkbbs-hr {
    border: none;
    border-top: 1px dotted #c0c0c0;
}

.milkbbs-posting-form {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 20px;
}

.milkbbs-entry {
    border: 1px solid #a0a0a0;
    border-bottom: none;
}

.milkbbs-entry {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px;
    border-bottom: 1px solid #a0a0a0;
}

.milkbbs-entry-author {
    font-weight: bold;
}

.milkbbs-entry-comment {
    background: #e0e0e0;
    padding: 4px;
    margin: 4px 0;
}

.milkbbs-footer-pages {
    background: #e0e0e0;
    padding: 4px;
}

.milkbbs-error-container {
    border: 1px solid #a0a0a0;
    padding: 4px;
}

.milkbbs-error-container div {
    text-align: center;
}



/* -- USERSTYLE CSS: REMOVE ME WHEN DONE!!!! -- */
/* .milkbbs-posting-form, */
/* .milkbbs-entry, */
/* .milkbbs-error-container { */
    /* width: 480px; */
/* } */

* {
    font-family: Tahoma;
}

body {
    background: #e8e8e8;
}

h1 {
    margin: 0.75rem 0;
    border-bottom: 1px dotted #a0a0a0;
}

.wrapper {
    width: 480px;
    background: #ffffff;
    padding: 8px;
    margin: 0 auto;
}
