.milkgb * {
    box-sizing: border-box;
}

.milkgb-posting-form td:nth-child(1) {
    width: 1px;
}

.milkgb-posting-form td:nth-child(2) input,
.milkgb-posting-form td:nth-child(2) textarea {
    width: 100%;
}

.milkgb-posting-form td:nth-child(2) textarea {
    resize: none;
}

.milkgb-entry > div {
    display: flex;
    justify-content: space-between;
}

.milkgb-entry-subject,
.milkgb-entry-comment,
.milkgb-entry-file {
    width: 100%;
}

.milkgb-entry-management {
    display: flex;
    flex-direction: column;
}

.milkgb-entry-management > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.milkgb-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#milkgb-posting-form-formatting {
    display: flex;
}

#milkgb-posting-form-formatting * {
    margin: 0 2px;
}

.milkgb-formatting-button {
    background: #e8e8e8;
    border: 1px solid #a0a0a0;
    cursor: pointer;
    min-width: 24px;
    padding: 6px;
    text-align: center;
}

.milkgb-formatting-button:hover {
    background: #e0e0e0;
}

.milkgb-formatting-button:active {
    background: #d0d0d0;
}




/* -- THEME CSS: BREAK INTO SEPARATE FILE WHEN DONE!!!! -- */
.milkgb * {
    font-family: Tahoma;
    font-size: 11px;
}

.milkgb-hr {
    border: none;
    border-top: 1px dotted #c0c0c0;
}

.milkgb-posting-form {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 20px;
}

.milkgb-entry {
    border: 1px solid #a0a0a0;
    border-bottom: none;
}

.milkgb-entry {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 4px;
    border-bottom: 1px solid #a0a0a0;
}

.milkgb-entry > div {
    margin: 4px 0;
}

.milkgb-entry-author {
    font-weight: bold;
}

.milkgb-entry-comment {
    background: #e0e0e0;
    padding: 4px;
}

.milkgb-entry-file {
    border-bottom: 1px dotted #c0c0c0;
    padding-bottom: 4px;
}

.milkgb-footer-pages {
    background: #e0e0e0;
    padding: 4px;
}

.milkgb-error-container {
    border: 1px solid #a0a0a0;
    padding: 4px;
}

.milkgb-error-container div {
    text-align: center;
}

.milkgb-standalone-error-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* -- USERSTYLE CSS: REMOVE ME WHEN DONE!!!! -- */
/* .milkgb-posting-form, */
/* .milkgb-entry, */
/* .milkgb-error-container { */
    /* width: 480px; */
/* } */

* {
    font-family: Tahoma;
}

body {
    background: #e8e8e8;
}

h1 {
    margin: 0.75rem 0;
    border-bottom: 1px dotted #a0a0a0;
}

.wrapper {
    width: 480px;
    background: #ffffff;
    padding: 8px;
    margin: 0 auto;
}
